<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Done</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item-sliding *ngFor="let item of doneList">
      <ion-item lines="full">
        <ion-label slot="start">
          {{item.name}}
          <p>Done {{item.done}}</p>
        </ion-label>
        <ion-icon name="arrow-dropleft" slot="end"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary" (click)="changeStatus(item.id)">
          <ion-icon name="undo"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="deleteItem(item.id)">
          <ion-icon name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
