<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Shopped Item</ion-title>
  
    </ion-toolbar>
  </ion-header>

<ion-content>
  
 <ion-card>
    <ion-grid>
        <ion-row style = "margin:5px;font-size: 17px;">
          <ion-col>
            <div class = "start">
               <b>Item name</b>
            </div>
          </ion-col>
          <ion-col>
             <div class = "start">
                <b>Shop At</b>
             </div>
           </ion-col>
           <ion-col>
               <div class = "start">
                  <b></b>
               </div>
             </ion-col>
        </ion-row>
        
      </ion-grid>
    <div style = "border:1px solid lightgray;margin-left:10px;margin-right: 10px"></div>

    <ion-list>
        <ion-item-sliding *ngFor="let item of this.shoppedList; let i = index" #{{index}}>
          <ion-card>
          <ion-grid>
            <ion-row justify-content-center align-items-center style = "margin:5px;font-size: 16px;" >
                <ion-col>
                    <div class =  "start">
                        <ion-label class = "center">
                            {{item.name}}
                            </ion-label>
    
                    </div>
                  </ion-col>
                  <ion-col>
                      <div class =  "center">
                          <ion-label class = "center">
                              {{item.shopAt}}
                              </ion-label>
                      </div>
                    </ion-col>
              <ion-col>
                  <ion-button (click)="deleteItem(item.id)">
                      Remove
                     </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          </ion-card>
        </ion-item-sliding>
      
      </ion-list>
 </ion-card>
</ion-content>


